body{
	width:100%;
	font-family:serif;
	font-size:14pt;
	color:black;
	margin:0px;
	padding:0px;
}

a{
	color:#2E5CB8;
	font-style:italic;
	font-weight:bold;
}

.panel{
	padding:15px 0px;
	width:100%;
	min-height:40px;
	color:white;
	font-weight:bold;
	background-color:#2E5CB8;
}
.panel a{
	color:white;
}
.title{
	font-size:16pt;
	font-weight:bold;
}
.error{
	width:100%;
	background-color:#FF0000;
	color:white;
	padding:5px 2px;
}
.row{
	display:table-row;
}
.simple-block{
	border:5px solid #2E5CB8;
	padding:4px 6px;
}
.simple-block .title{
	color:#2E5CB8;
}
.accented{
	border:2px solid white;
	background-color:#2E5CB8;
	color:white;
	font-weight:bold;
	font-size:15pt;
}
.pagination{
	background-color:white;
	font-size:15pt;
	font-style:none;
	margin: 5px;
}
.pagination .page{
	background-color:#2E5CB8;
	margin:0px 2px;
	display:inline-block;
	width:30px;
	height:30px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	border:2px solid #2E5CB8;
	color:white !important;
	text-decoration:none;
}
.pagination .page:hover{
	background-color:white;
	color:#2E5CB8 !important;
}
.pagination .active-page{
	background-color:white;
	color:#2E5CB8 !important;
}
.pagination .active-page:hover{
	background-color:#2E5CB8;
	color:white !important;
}
.post{
	width:98%;
	margin:10px 1%;
}
.post-title{
	background-color:#2E5CB8;
	color:white;
	font-size:16pt;
	padding:2px;
}
.post-info{
	background-color:#2E5CB8;
	color:white;
	font-size:13pt;
	padding:1px;
}
.post .post-info .accented{
	font-size:14pt;
}
.post .post-text{
	background-color:white;
	color:black;
	border:5px solid #2E5CB8;
	padding: 5px 10px;
}
.post .post-text a{
	background-color:#2E5CB8;
	color:white;
	padding:1px;
}

.post #rating_form{
	background-color:#2E5CB8;
	color:white;
	padding:2px;
}

#header{
	display:table;
}
#header div:first-child{
	display:table-row;
}
#header #title{
	display:table-cell;
	padding-left:40px;
	width:auto;
}
#header #user{
	display:table-cell;
	text-align:right;
	padding-right:40px;
	width:auto;
}

#footer{
	text-align:center;
}

#main-block{
	display:table;
	width:100%;
	border-collapse: collapse;
	vertical-align:top;
}
#main-block #left-block{
	display:table-cell;
	width:15%;
}
#main-block #content{
	display:table-cell;
}
#main-block #right-block{
	display:table-cell;
	width:15%;
}
#main-block #pagination{
	width:100%;
	text-align:center;
}
